<%= form_for(@user, url: sessions_path) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password_attempt %><br />
    <%= f.password_field :password_attempt %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
