<div class="row">
  <div class="span12">
    <div class="well">
      <div class="row">
        <div class="span2 pull-left">
          <img src="<%= m.image_url %>" />
        </div>
        <div class="span9 pull-left">
          <h3><%= m.title %> (<%= m.year %>)</h3>

          <% if m.tagline? %>
            <p class="movie-tagline">
              <%= m.tagline[0..-15] %>
            </p>
          <% end %>

          <p class="movie-cast"><%= m.director.join(", ") %></p>
          <p class="movie-cast"><%= m.cast_members.join(", ") %></p>
          <p class="movie-rating">
            <span class="rating">
              <% m.rating.round.times do %>
                <span class="star star-full"></span>
              <% end %>

              <% (10 - m.rating.round).times do %>
                <span class="star star-empty"></span>
              <% end %>
            </span>
          </p>

          <p class="movie-plot">
          <% if m.plot? %>
            <%= m.plot %>
          <% else %>
            Plot not available.
          <% end %>
          </p>

          <% if (signed_in? and enable_button) %>
            <%= button_to "See this movie", see_at_event_path(@event, m), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
