<p id="notice"><%= notice %></p>

<p>
  <b>Cast members:</b>
  <%= @movie.cast_members %>
</p>

<p>
  <b>Director:</b>
  <%= @movie.director %>
</p>

<p>
  <b>Genres:</b>
  <%= @movie.genres %>
</p>

<p>
  <b>Length:</b>
  <%= @movie.length %>
</p>

<p>
  <b>Mpaa rating:</b>
  <%= @movie.mpaa_rating %>
</p>

<p>
  <b>Poster:</b>
  <%= @movie.poster %>
</p>

<p>
  <b>Rating:</b>
  <%= @movie.rating %>
</p>

<p>
  <b>Release date:</b>
  <%= @movie.release_date %>
</p>

<p>
  <b>Tagline:</b>
  <%= @movie.tagline %>
</p>

<p>
  <b>Trailer:</b>
  <%= @movie.trailer %>
</p>

<p>
  <b>Votes:</b>
  <%= @movie.votes %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>


<%= link_to 'Back', movies_path %>
