<h1>Listing events</h1>

<table>
  <tr>
    <th>Day</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.day %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Event', new_event_path %>

  <h2>Voting poll</h2>

  <% if @next_event.nil? %>
    <p><strong>Note:</strong> there is no next session, so voting is disabled to encourage the scheduling.</p>
  <% end %>

  <%= render 'movies/table' %>
