<div class="row">
  <h1>Calendar</h1>

  <table class="table table-striped">
    <tr>
      <th>Day</th>
      <th></th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.day %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <div class="well">
    <%= link_to 'New Event', new_event_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <h2>Suggested flicks</h2>

  <% if @next_event.nil? %>
    <p>
      <span class="label label-info">Note</span>
      As there is no next session, voting in and suggesting movies is disabled to encourage the scheduling.
    </p>
  <% end %>

  <%= render 'movies/table' %>
</div>
