<h1><%= @event.day %></h1>

<% unless @event.status.eql?("eye-goggled") %>
  <table>
    <tr>
      <th>Movie title</th>
      <th>Rating</th>
      <th>Votes</th>
      <% if signed_in? %>
      <th></th>
      <% end %>
    </tr>

    <% Movie.highest_scored.each do |m| %>
    <tr>
      <td><%= m.title %></td>
      <td><%= m.rating %></td>
      <td><%= m.vote_count %></td>
      <% if signed_in? %>
        <td>
          <%= button_to "See this movie", see_at_event_path(@event, m) %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% else %>

<% end %>

<p><strong>Note:</strong> the following action cannot be undone. Proceed at your own risk.</p>
<%= link_to 'Cancel this event', @event, confirm: 'Are you sure?', method: :delete %>

<%= link_to 'Back', events_path %>
