<h1><%= @event.day %></h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Movie title</th>
    <th>Rating</th>
    <th>Votes</th>
    <th></th>
    <th></th>
  </tr>

  <% @event.choices.ordered.each do |c| %>
  <tr>
    <td><%= c.movie.title %></td>
    <td><%= c.movie.rating %></td>
    <td><%= c.votes %></td>
    <td><%= button_to "Vote up", vote_event_choice_path(@event.id, c, "up") %></td>
    <td><%= button_to "Vote down", vote_event_choice_path(@event.id, c, "down") %></td>
  </tr>
  <% end %>
</table>

<h2>Add a new movie</h2>

<%= form_for [@event, @event.choices.build] do |f| %>
  <%= f.label :movie_id %>
  <%= f.select :movie_id, @event.available_movies.map{ |m| [m.title, m.id] } %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back', events_path %>
