<h1>Movie session on the <%= @event.day.day.ordinalize %> of <%= @event.day.month %>, <%= @event.day.year %></h1>

<% if @event.status.eql?("eye-goggled") %>
  <h2>Le matinée passé</h2>
  <%= render "movies/matinee", m: @event.movie, enable_button: false %>
<% elsif Event.next.eql?(@event) %>
  <h2>Le matinée</h2>
  <% Movie.unseen.each do |m| %>
    <% if m.vote_count.eql?(Movie.maximum(:vote_count)) %>
      <%= render "movies/matinee", m: m, enable_button: true %>
    <% end %>
  <% end %>
<% end %>

<% if signed_in? and current_user.admin? %>
  <p><strong>Note:</strong> the following action cannot be undone. Proceed at your own risk.</p>
  <%= link_to 'Cancel this event', @event, confirm: 'Are you sure?', method: :delete %>
<% end %>

<div class="well">
  <%= link_to 'Back', root_path, class: "btn" %>
</div>
