<!DOCTYPE html>
<html>
<head>
  <title>Diáconos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Diáconos", root_url, class: "brand" %>
        <% if signed_in? %>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>
              <%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to  current_user do %>
                  <i class="icon-user"></i>
                  Profile
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to logout_path do %>
                  <i class="icon-signout"></i>
                  Sign out
                <% end %>
              </li>
            </ul>
          </div>
        <% else %>
          <%= form_tag(sessions_path, class: "navbar-form pull-right", id: "signin-form") do %>
            <%= text_field_tag('user[username]', '', class: "input-small", placeholder: "Username") %>
            <%= password_field_tag('user[password_attempt]', '', class: "input-small", placeholder: "Password") %>
            <%= submit_tag 'Sign in', class: "btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <% unless notice.blank? %>
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <hr></hr>
      <p><i class="icon-info-sign"></i> Diáconos is a crapola project done by <%= link_to "Pedro Coelho", "https://pedrocoelho.pt" %>, <%= Date.today.year %>. <i class="icon-github-sign"></i> Check out the source at <%= link_to "Github", "https://github.com/punnie/diaconos" %>!</p>
    </footer>
  </div>
</body>
</html>
